<div class="container">
  <div class="row">
    <div class="col-12">

      <div id="card" class="card text-white bg-success mr-3 mb-3" *ngFor="let usuario of usuariosServicio.usuarios">
        <div class="card-header">
          <a href="/usuarios/{{usuario._id}}">
            <img id="imagen_de_perfil" class="img-fluid rounded-circle mr-3" src="./../../media/imagen_de_perfil/{{usuario._id}}.jpg" />
          </a>
          <a class="text-white text-center" href="/usuarios/{{usuario._id}}">{{usuario.nick}}</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{usuario.nombre}}</h5>
          <p class="card-text">{{usuario.apellidos}}</p>
        </div>
      </div>

    </div>
  </div>
</div>