<section>
  <div class="container">
    <div class="row">	
      <div class="col-12 text-center">
        
        
        <div class="cuatro-cero-cuatro-bg"></div>
        
        <div class="texto-404">  
          <h3 class="display-3 text-center text-orange">Error 404</h3>
          <h2>Parece que andas perdido...</h2>
          <p>¡La pagina que buscas no está disponible!</p>
          <a routerLink="/" class="btn bg-success text-white">Volver a inicio</a>
        </div>
        
      </div>
    </div>
  </div>
</section>